body {
    background-color: rgb(18, 18, 18);
    position: relative;
}

#main::-webkit-scrollbar {
    width: 12px;
}

#main::-webkit-scrollbar-track {
    background: transparent;
}

#main::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 20px;
}

#navbar-left a:hover {
    text-decoration: none;
}

.arrows {
    color: white;
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.account-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#account-dropdown {
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    background-color: black;
}

.album-art {
    height: 250px;

    object-fit: cover;
}

.artist-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.artist-title {
    font-weight: 700;
}

.album-duration {
    color: rgb(150, 149, 147);
}

.album-title-big {
    font-size: 70px;
    font-weight: 700;
}

.album-header {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(65, 0, 119, 0.1390756986388305) 12%, rgba(139, 0, 255, 0.24271715522146353) 26%, rgba(141, 0, 255, 0.30994404597776615) 40%, rgba(142, 0, 255, 0.45840342973126746) 51%, rgba(145, 0, 255, 0.6684874633447129) 65%, rgba(146, 0, 255, 0.7749300403755253) 84%, rgba(151, 0, 255, 1) 100%);
}

.middle-navbar {
    font-size: 30px;
    color: rgb(199, 186, 186);
}

.play-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(43, 223, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black
}

.play-button:hover {
    scale: 1.1;
}


.download:hover,
.heart-save:hover,
.dots:hover {
    color: white;
}

.table {
    color: white;
}

thead {
    border-bottom: solid 1px rgb(65, 48, 46);
}

thead {
    color: rgb(149, 144, 143);
    font-size: 16px;
    font-weight: 300;
}

tr>th {
    color: rgb(149, 144, 143);
}

.album-info {
    color: rgb(150, 149, 147);
    font-size: 12px;
}

.bottom-footer {
    color: rgb(149, 144, 143);
    border-bottom: solid 1px rgb(65, 48, 46);
}

.footer-header {
    color: white;
}

.footer-icons {
    width: 40px;
    height: 40px;
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.footer-icons:hover {
    background-color: rgb(114, 114, 114);
}

.bottom-footer-2 {
    color: rgb(149, 144, 143);
    font-size: 12px;
}

tbody tr:hover {
    background-color: rgb(39, 40, 44);
}

.dropdown-menu {
    background-color: rgb(40, 40, 40);
    font-size: 12px;
}

.dropdown-item {
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

.settings {
    border-bottom: 1px solid rgb(62, 62, 62);
}

.top-navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 85%;
}

#album-navbar {
    position: sticky;
    top: 63px;
    z-index: 1;
    transition: all 300ms;
    width: 100%;
}

.album-navbar-bg {
    background-color: rgb(24, 24, 24);
}

.dropdown {
    margin-left: auto;
}

#album-info {
    padding-top: 70px;
}

p a {
    color: grey;
}

tbody tr:hover p a {
    color: white;
}

#artist-title {
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #181818;
}

#top-content {
    height: 88vh;
}

#navbar-left {
    width: 230px;
    color: #A3A39B;
    background-color: #000000;
    overflow: hidden;
}

#navbar-left div:nth-child(-n+3) div:hover {
    cursor: pointer;
    background-color: #282828;
    color: white;
}

#navbar-left li:hover {
    cursor: pointer;
    color: white;
}

#navbar-left div:last-of-type:hover {
    cursor: pointer;
    color: white;
}

#navbar-left>div:nth-child(2) {
    font-size: small;
}

#navbar-left>div:nth-child(3) {
    font-size: small;
}

#navbar-left>div:first-of-type {
    color: white;
    font-size: larger;
    font-weight: bolder;
}

#navbar-left ul {
    color: #808080;
    list-style-type: none;
}

#navbar-left>div:last-of-type>div:first-of-type {
    overflow-y: auto;
}

#navbar-left>div:last-of-type>div:last-of-type {
    background-color: #000000;
}

.selected {
    background-color: #282828;
    color: white;
}

#bottom-bar {
    height: 10vh;
    color: #A3A39B;
    background-color: #181818;
}

#bottom-bar p,
span {
    color: #FFFFFF;
    font-size: small;
}

#bottom-bar img {
    width: 60px;
    height: 60px;
}

#bottom-bar span {
    font-size: smaller;
    color: #B2ABA5;
}

#bottom-bar p:hover,
#bottom-bar span:hover {
    cursor: pointer;
    text-decoration: underline;
}

#bottom-bar svg:hover {
    color: white;
}

#main {
    overflow: auto;
}

#player-displayer {
    width: 55vh;
}

#artist-content {
    color: white;
}

#artist-jumbotron {
    height: 42vh;
    /* background-image: url("https://www.udiscovermusic.com/wp-content/uploads/2019/03/Queen-II-album-cover-820.jpg"); */
    background-size: cover;
    color: white;
}

#artist-content th img {
    width: 40px;
    height: 40px;
}

#artist-content tr>th:nth-last-child(-n+2) {
    color: #808080;
}

#artist-pick img {
    width: 70px;
    height: 70px;
}

#artist-pick div div img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#artist-pick span {
    color: #808080;
}

#filled-heart {
    color: rgb(43, 223, 104);
}

#audio-player {
    min-width: 600px;
    background-color: transparent;
}

div>a {
    color: rgb(127, 127, 127);
}

#bottom-bar {
    border-top: 1px solid rgb(40, 40, 40);
    background-color: rgb(26, 26, 26);
}

a > li {
    color: grey;
}

a:hover {
    text-decoration: none;
}